<form method='post' asp-action='Book'>
    <select name='DoctorId'>
        @foreach(var d in ViewBag.Doctors)
        {
            <option value='@d.Id'>@d.Name</option>
        } 
    </select>
    <input type='datetime-local' name='localSlot' />
    <button>Book</button>
</form>