@model IEnumerable<DocPatientAppMVC.Models.Appointment>
<table>
    <thead>
        <tr>
            <th>Patient</th><th>Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var a in Model)
        {
            <tr>
                <td>@a.Patient?.PatientName</td>
                <td>@a.SlotUtc</td>
            </tr>
        } 
    </tbody>
</table>